---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "L'Application",
    path: "/",
  },
  {
    title: "Team",
    path: "/team",
  },
  {
    title: "Blog",
    path: "/blog",
  },
];
---

<Container>
  <header
    class="flex flex-col lg:flex-row justify-between items-center my-5 mx-5 md:px-32">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-3xl"
          ><span class="font-bold text-violet-800">Iris</span>
          <span class="text-orange-500">Claire</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-violet-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 text-violet-900 hover:text-orange-500">
                    {item.title}
                  </a>
                </li>
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link
            href="https://www.instagram.com/"
            size="sm"
            style="muted"
            target="_blank">
            <Icon
              name="bx:bxl-instagram"
              class="text-violet-800 hover:text-orange-500 h-6 w-6"
            />
          </Link>
          <Link
            href="https://www.pinterest.fr/Djodjo30/"
            size="sm"
            style="muted"
            target="_blank">
            <Icon
              name="bx:bxl-pinterest"
              class="text-violet-800 hover:text-orange-500 h-6 w-6"
            />
          </Link>
          <Link
            href="https://www.facebook.com/"
            size="sm"
            style="muted"
            target="_blank">
            <Icon
              name="bx:bxl-facebook"
              class="text-violet-800 hover:text-orange-500 h-6 w-6"
            />
          </Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link
          href="https://www.instagram.com/"
          size="sm"
          style="muted"
          target="_blank">
          <Icon
            name="bx:bxl-instagram"
            class="text-violet-800 hover:text-orange-500 h-6 w-6"
          />
        </Link>
        <Link
          href="https://www.pinterest.fr/Djodjo30/"
          size="sm"
          style="muted"
          target="_blank">
          <Icon
            name="bx:bxl-pinterest"
            class="text-violet-800 hover:text-orange-500 h-6 w-6"
          />
        </Link>
        <Link
          href="https://www.facebook.com/"
          size="sm"
          style="muted"
          target="_blank">
          <Icon
            name="bx:bxl-facebook"
            class="text-violet-800 hover:text-orange-500 h-6 w-6"
          />
        </Link>
      </div>
    </div>
  </header>
</Container>
