---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Est-ce que les réponses apportées par IRIS Claire sont aussi fiables qu'une consultation chez un voyant ?",
    description:
      "OUI. La fiabilité et la précision des réponses sont très important chez Iris Claire. L’équipe de IRIS Claire est composée d’un voyant, et de deux tarologues expérimentés et spécialisés dans le Tarot divinatoire, Ensemble ils ont créé IRIS Claire pour offrir des réponses authentiques et précises à vos questions. Vous pouvez avoir pleinement confiance en Iris Claire pour vous guider vers des éclaircissements précieux",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Comment se déroule une consultation avec IRIS Claire ?",
    description:
      "Pour obtenir des réponses à vos questions sans délai d’attente depuis votre mobile rien de plus simple.Téléchargez l’application Iris Claire sur Google play et App Store. Posez votre question. Effectuez un tirage de Tarot Iris Claire.Obtenez une reponse personnalisée immédiatement !",
    icon: "bx:bxs-data",
  },
  {
    title: "Combien va me couter ma question ?",
    description: 
    "Posez votre première question GRATUITEMENT ! Chez IRIS Claire, nous croyons en l'accessibilité de l'avenir pour tous. Notre service a été conçu pour offrir des réponses abordables à partir de seulement 0,99€ question ! Accédez à votre avenir dès maintenant et découvrez les réponses que vous cherchez.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Combien de temps faut-il attendre avant de recevoir une réponse ",
    description:
      "Votre réponse est IMMEDIATEMENT disponible. Quelque soit la complexité de votre question, IRIS Claire vous apporte une réponse immédiate pour vous accompagner dans vos doutes.",
    icon: "bx:bxs-window-alt",
  },
  
];
---
<main
  class="pt-16 pb-8 md:pt-12 md:pb-24 md:px-32 ">
<div class="mt-16 ">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center text-yellow-600">
    FAQ
  </h2>
  <p class="text-lg mt-4 text-violet-800 text-center">
   Trouvez toutes les réponses à vos interogations
  </p>
</div>

<div class="grid sm:grid-cols-2  mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
</main>

