---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/header.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="flex flex-col md:flex-row place-items-center px-10 py-8 md:pt-12 md:pb-24 md:px-32 bg-gradient-to-r from-violet-700 from-10% via-violet-800 to-violet-900 to-70%">
  <div class="py-6 md:order-1 md:block">
    <Picture
      src={heroImage}
      alt="Application mobile Iris Claire"
      widths={[300, 600, 800]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 720px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-4xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-violet-100">
       Explorez l'Avenir avec Notre Application de Voyance et Tarot Divinatoire
    </h1>
    <h2 class="text-lg mt-4 text-violet-200 max-w-xl">
      votre portail vers l'univers mystique du tarot et votre compagnon divinatoire personnalisé. Plongez dans votre avenir et découvrez les mystères qui l'entourent avec notre application de voyance et tarot divinatoire. Vous obtiendrez des réponses qui vous aideront à mieux comprendre et à prendre des décisions éclairées dans tous les domaines de votre vie.
    </h2>
    <div class="mt-6 flex flex-col sm:flex-row gap-10">
      <Link
        href="#"
        size="lg"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-5 items-center justify-center rounded-3xl bg-violet-100"
        style="primary"
        rel="noopener">
        <Icon class="text-violet-800 w-8 h-8" name="bx:bxl-apple" />

        App Store
      </Link>
      <Link
        size="md"
        style="primary"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-5 items-center justify-center rounded-3xl bg-violet-100"
        target="_blank">
        <Icon
          class="text-violet-800 hover:text-violet-100 w-8 h-8"
          name="bx:bxl-play-store"
        />
        Google Play
      </Link>
    </div>
  </div>
</main>
