---
import { Icon } from "astro-icon";
---

<section
  class="bg-gradient-to-r from-violet-700 from-10% via-violet-800 to-violet-900 to-70%">
  <h1
    class="lg:text-5xl md:text-4xl text-4xl font-semibold px-4 leading-10 text-violet-100 text-center py-10">
    Vos Avis
  </h1>
  <div
    class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:px-20 px-10 py-20 gap-8">
    <!-- {/* Avis numero 1 */} -->
    <div
      class="group w-full h-5/6 bg-white flex flex-col items-center hover:bg-violet-300 cursor-pointer shadow-md md:p-12 p-6 rounded-md">
      <div class="relative -top-24 md:-top-28">
        <div class="flex flex-col items-center justify-center">
          <img
            src="/avatar/woman_avatar_three.png"
            alt="profile pictre"
            class="w-28 h-28"
          />
          <p class="text6base font-semibold leading-4 my-2 text-violet-800">
            Sarh2803
          </p>
          <div class="flex">
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
          </div>
          <p
            class="text-base font-semibold leading-4 my-2 text-yellow-600 group-hover:text-violet-500 text-center mt-5">
            Utilisateur de l'application Iris Clair
          </p>
        </div>
        <p class="xl:w-80 text-base leading-normal text-center text-violet-800 group-hover:text-violet-100 mt-8">
          Je valide à 100% car pour une fois ce n’est pas une application qui ne
          fait que donner la signification d’une carte et basta. Avec cette
          application vous avez une vraie réponse. Pas de risque de rester dans
          le doute. Pour le moment elle a vu juste à chaque fois
        </p>
      </div>
    </div>
    <!-- {/* Avis numero 1 */} -->
    <!-- {/* Avis numero 2*/} -->
    <div
      class="group w-full h-5/6 bg-white flex flex-col items-center hover:bg-violet-300  cursor-pointer shadow-md md:p-12 p-6 rounded-md">
      <div class="relative -top-24 md:-top-28">
        <div class="flex flex-col items-center justify-center">
          <img
            src="/avatar/woman_avatar_one.png"
            alt="profile pictre"
            class="w-28 h-28"
          />
          <p class="text6base font-semibold leading-4 my-2 text-violet-800">
            Emma
          </p>
          <div class="flex">
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
          </div>
          <p
            class="text-base font-semibold leading-4 my-2  text-yellow-600 group-hover:text-violet-500 text-center mt-5">
            Utilisateur de l'application Iris Clair
          </p>
        </div>
        <p class="xl:w-80 text-base leading-normal text-center text-violet-800 group-hover:text-violet-100 mt-8">
          Enfin une appli qui donne de vraie réponse sans nous faire tourner en
          rond ! Etant une personne très pragmatique dans la vie je suis bluffé
          par la rapidité des réponses. Je recommande cette application a tous
          ceux qui cherchent des réponses rapides et directes à leurs questions
          !
        </p>
      </div>
    </div>
    <!-- {/* Avis numero 2 */} -->
    <!-- {/* Avis numero 3 */} -->
    <div
      class="group w-full h-5/6 bg-white flex flex-col items-center hover:bg-violet-300 cursor-pointer shadow-md md:p-12 p-6 rounded-md">
      <div class="relative -top-24 md:-top-28">
        <div class="flex flex-col items-center justify-center">
          <img
            src="/avatar/woman_avatar_two.png"
            alt="profile pictre"
            class="w-28 h-28"
          />
          <p class="text6base font-semibold leading-4 my-2 text-violet-800">
            Patdu30
          </p>
          <div class="flex">
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
            <Icon name="bx:bxs-star" class="text-orange-500 h-5 w-5" />
          </div>
          <p
            class="text-base font-semibold leading-4 my-2  text-yellow-600 group-hover:text-violet-500 text-center mt-5">
            Utilisateur de l'application Iris Clair
          </p>
        </div>
        <p class="xl:w-80 text-base leading-normal text-center text-violet-800 group-hover:text-violet-100 mt-8">
          Je suis tellement impressionnée par cette application. Le tarot de
          IRIS Claire est unique et les réponses s sont incroyablement précises
          et utiles. Je l’utilise pour m’accompagner dans ma vie de tous les
          jours, il m’aide à faire les bons choix
        </p>
      </div>
    </div>
    <!-- {/* Avis numero 3 */} -->
  </div>
</section>
