---
import { Picture } from "@astrojs/image/components";
import phoneDeck from "assets/game_draw.png";
import patternBg from "assets/bg-pattern-3.png";
import { Icon } from "astro-icon";
---

<section
  class="flex flex-col lg:flex-row place-items-center px-10 py-8 md:pt-12 md:pb-12 md:px-44">
  <div class="md:order-2">
    <h1
      class="text-2xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-violet-800 -ml-3">
      Votre Guide Spirituel Personnel
    </h1>
    <div class="flex justify-center mt-8">
      <Icon
        class="relative top-0 sm:top-4 -left-4 text-purple-500 w-16 sm:w-10 md:w-8 h-16 sm:h-10 md:h-8"
        name="bx:bxs-star"
      />
      <p class="text-lg mt-4 text-violet-800 max-w-xl text-justify">
        <span class="text-orange-500 font-bold">Iris Claire</span>: un tarot
        authentique et moderne qui illumine votre voyage spirituel, vous offrant
        les réponses tant recherchées sur <span class="font-bold">l'amour</span
        >, la <span class="font-bold">carrière</span> et le <span
          class="font-bold">bien-être</span
        >.
      </p>
    </div>
    <div class="flex justify-center">
      <Icon
        class="relative top-0 sm:top-4 -left-4 text-purple-500 w-16 sm:w-10 md:w-8 h-16 sm:h-10 md:h-8"
        name="bx:bxs-star"
      />
      <p class="text-lg mt-4 text-violet-800 max-w-xl text-justify">
        Notre tarot divinatoire est désormais accessible à tous dans le monde
        numérique, offrant des lectures précises grâce à des cartes
        sélectionnées et interprétées par nos experts.
      </p>
    </div>
    <div class="flex justify-center">
      <Icon
        class="relative top-0 sm:top-4 -left-4 text-purple-500 w-16 sm:w-10 md:w-8 h-16 sm:h-10 md:h-8"
        name="bx:bxs-star"
      />
      <p class="text-lg mt-4 text-violet-800 max-w-xl text-justify">
        Libérez le pouvoir du <span class="text-orange-500 font-bold"
          >tarot instantané</span
        >, recevant des réponses immédiates qui éclairent votre chemin, sans
        attente ni contrainte de lieu.
      </p>
    </div>
  </div>
  <div class="py-6 lg:block drop-shadow-2xl order-1 md:order-1">
    <Picture
      src={patternBg}
      alt="Astronaut in the air"
      widths={[300, 600, 400]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 600px"
      loading="eager"
      format="avif"
   />
    <Picture
    class="absolute top-8 left-0"
    src={phoneDeck}
    alt="Astronaut in the air"
    widths={[300, 600, 400]}
    aspectRatio="1:1"
    sizes="(max-width: 800px) 100vw, 600px"
    loading="eager"
    format="avif"
  />
  </div>  
</section>
